{% extends "base_page.html" %}

{% block page-title %}
Добавить пример употребления
{% endblock %}

{% block page-lead %}
Здесь можно добавить или изменить пример употребления уже известного слова. <br>
Поиск можно вести как по иероглифической записи, так и по пиньиню.
{% endblock %}


{% block content %}
<div class="container-sm px-5 py-5" id="term-form">
    <form method="post">
        
        <div class="row px-5 py-2"> <!-- Слово | Перевод -->
            <div class="col-md-4">
                <label for="word">Слово или пиньинь</label>
                <input type="text" class="form-control input-lg"
                    name="word" id="word"
                    placeholder="图书馆 / tUSHUguan" value required
                >
            </div>
            
            <div class="col-md-8">
                <label for="example">Пример употребления</label>
                <textarea type="text" class="form-control input-lg"
                    name="example" id="example"
                    aria-describedby="example_note" rows="3"
                    value required
                ></textarea>
                <div id="example_note" class="form-text">Постарайтесь уложиться в одно, максимум два предложения</div>
            </div>
        </div>
        
        <div class="row px-5 py-2">
            <button type="submit" class="btn btn-primary" formaction="/send-term-example">Отправить</button>
        </div>
    </form>
</div>
{% endblock %}
